// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Open Sans Variable', sans-serif;
}

.container {
    width: 80%;
    max-width: 1176px;
    margin: auto
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem
}


img {
    max-width: 100%;
}

header {
    text-align: center;
    background-color: white;
    padding: 2rem 0rem;

    .container {
        display: flex;
        justify-content: space-between;
    }

    nav {
        margin-top: 2rem;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 1rem 0.5rem;

            &.active {
                color: blue;
                border-bottom: 0.2rem solid blue;
            }
        }
    }
}


main {
    background-color: black;
    text-align: left;

    h1 {
        color: white;
    }

    section {
        background-color: blue;

        .col {
            width: calc(100% / 5);
            padding: 1rem
        }

        .card {
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        h3 {
            color: white;
        }
    }

    .jumbotron {
        background-image: url('../img/jumbotron.jpg');
        background-size: cover;
        background-position: top;
        height: 400px;
    }
}

footer {
    background-image: url('../img/footer-bg.jpg');
    min-height: 50vh;

    .row {
        display: flex;
        justify-content: space-between;
    }

    .col {
        /*width: calc(100% / 2);*/
        padding: 1rem;
    }

    .col-3 {
        width: calc(100% / 3);
        padding: 1rem;
    }

    .row-rev {
        max-height: 25rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 1.5rem;
    }

    h3 {
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 1rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        a {
            padding: 1rem 1rem 1rem 0rem;
        }

    }

    .sing-up {
        min-height: 5rem;
        position: sticky;
        bottom: 0;
        background-color: rgb(44, 44, 44);

        .follow {
            display: flex;
            align-items: center;

            h3 {
                color: blue;

                ul {
                    display: flex;
                    list-style-type: none;
                }
            }
        }
    }

}